<div class=" w-full ml-16 mr-16 py-16  font-main text-gray-400">
    <ul class="xl:flex cursor-pointer flex-col xl:flex-row justify-center ">
        <li class="mr-5 hover:text-white">
            Prywatność
        </li>
        <li class="mr-5  hover:text-white">
            Warunki
        </li>
        <li class="mr-5  hover:text-white">
            Pomoc
        </li>
        <li class="mr-5  hover:text-white">
            Urządzenia
        </li>
        <li class="ml-auto mr-36  hover:text-white">
            © 2024 WarnerMedia Direct, LLC. Wszelkie prawa zastrzeżone.
        </li>
    </ul>
</div>
